body {
  margin:0px;
  width:100%;
  font-family: Verdana;
  background-color: grey;
}

.back{
  height: 120px;
  width:100%;
  
}
.back p:hover{
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: cornsilk;
}

  .link{
    display: inline;
    float: left;
    margin:2%;
  }

.navbar-nav{
  padding: 0;
}

.nav-link{
  display: block;
 font-weight: 500;
}

.nav-link:hover{
  color: red;
  background-color: #111;
}

.nav-link:focus{
  color:yellow;
text-decoration: underline;
}


.code{
  float:left;
  margin :auto;
  width:250px;
}

.sub-menu li{
  display: inline-block;
  padding: 0 6px;
}